@import '../addons/lfa-exercises/css/main'
@import '../addons/lfa-classroom/css/main'
@import '../addons/lfa-backstage/css/main'

lfa-framework()

@import _avatar
@import _help

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

//
// Text flow
//

.no-strech
  width: auto

.percent-50
  max-width: 50%

.center
  margin: 0 auto

//
// General
//

#textbook
  padding-bottom: 5em

article
  section
    p
      text-align: justify

    h1
      color: #F09200
      font-family: "Futura"
      text-transform: uppercase
      border-bottom: 5px solid
      margin-bottom: 0.8em

    h2
      color: #68A700
      font-family: "Futura"
      margin: 0.5em 0

    .aside-box
      background-color: #F8DDB3
      border-radius: 1em
      padding: 1.1em
      margin: 0 1em

      quote
        font-style: oblique
        font-size: 130%



//
// Cover
//

h1.book-title
  font-size: 3em
  font-weight: 800
  margin: 0 0 1em 0
  color: #222

.name-label
  background: #f00
  border-radius: 10px
  color: white
  width: 80%
  max-width: 20em
  padding: 10px 0px 5px 0px
  margin: 1em 0

  h3
    margin: 0

  span.instructions
    font-size: 50%
    font-family: "Roboto","Arial",sans

  input.cover-name-input
    text-align: center
    font-size: 150%
    font-family: "Chalkduster","Roboto","Arial",sans
    color: #222
    width: 100%
    margin: 0
    padding: 5px
    border: 2px solid #bbb
    border-top: 0px
    border-bottom: 0px

//
// Intro
//

.lf-00-intro, .lf-03-working-together
  .yesno, .pickone
    .block
      max-width: 20em
      float: left

      p
        margin: 1em

    .trigger
      margin: 1em 0

    .buttons
      display: inline
      margin: 1em 0
      width: 6em
      float: left

//
//
//
