+title("The Dashboard")
+subtitle("Compacted Universe")
:markdown

  # The Dashboard

  The dashboard is the generic term used for the space where tabs and widgets are held. It is the sidebar that opens after a click on the avatar.

  An API for it is under construction. We'll upate this page very soon.