+title('Smart Exercises')
+subtitle('16 exercises types')
h1 
  p Smart Exercises

+exercise
  +statement
    | Please be so kind and answer the following questions:
  .panel-body
    .row
      .col-md-6
       +yesno({answer: false, name:'ex01basicsYN1'})
          | Is 100 a negative number?
      .col-md-6
        +pickone(3, ['planet', 'star', 'satellite', 'commet'])
          | The Moon, is a <br/>

 +exercise({name: 'Ch03Ex01B'})
  +statement
    p Please tap or click on the even numbers below:
    .score-box
    .progress-box
  +select-to-highlight
    .btn-group
      button.btn.btn-default.good 2232
      button.btn.btn-default.bad 7787
      button.btn.btn-default.bad 10123
      button.btn.btn-default.good 20

p Connect the arab numerals with their Roman version:
+connect-points({
  name: 'help10-1',
  orientation: 'horizontal',
  connections: [
    ['a1', 'r1'],
    ['a5', 'r5'],
    ['a9', 'r9'],
  ]
})
  .progress-box
  .score-box
  .row
    //first group
    .col-xs-5(data-group='arab')
      .choice.pin-to
        .connector(data-name='a1').pin-right
        | 1
      .choice.pin-to
        .connector(data-name='a5').pin-right
        | 5
      .choice.pin-to
        .connector(data-name='a9').pin-right
        | 9
    //space for the lines
    .col-xs-2
    //second group
    .col-xs-5(data-group='roman')
      .choice.pin-to
        .connector(data-name='r9').pin-left
        | IX
      .choice.pin-to
        .connector(data-name='r5').pin-left
        | V
      .choice.pin-to
        .connector(data-name='r1').pin-left
        | I

+crosswords({
  name: 'help11-1',
  hideNumbers: false,
  ignoreAvatar: false,
  words: //  1  2  3  4  5  6  7  8  9  0  1  2
         ['  _  _  _  _  _ 1N  _2>K  _  _  _  _',  //  1
          '  _  _  _  _ 3P >A  M  U  K  _  _  _',  //  2
          '  _  _  _  _  _  U  _  N  _  _  _  _',  //  3
          '  _  _  _  _  _  M  _  D  _  _  _  _',  //  4
          '  _  _  _  _  _  _  _  E  _  _  _  _',  //  5
          '  _  _  _  _  _  _  _  R  _  _  _  _',  //  6
          '  _  _  _  _4>M  U  R  A  K  A  M  I',  //  7
          '  _  _  _  _  E  _  _  _  _  _  _  _',  //  8
          '  _  _ 5S  A >L  I  N  G  E  R  _  _',  //  9
          '  _  _  _  _  V  _  _  _  _  _  _  _',  //  10
          '  _  _ 6A  S  I  M  O  V  _ 7C  _  _',  //  11
          '  _  _  _  _  L  _  _  _  _  L  _  _',  //  12
          ' 8G  O  G  O  L  _  _  _  _  A  _  _',  //  13
          '  _  _  _  _9>E  X  U  P  E  R  Y  _',  //  14
          '  _  _  _  _  _  _  _  _  _  K  _  _',  //  15
          '  _  _  _  _  _  _  _  _  _  E  _  _']  //  16
})
  .progress-box
  .score-box
  .row
    .col-md-8
      .xwordscontent
      .clearfix
    .col-md-4.well.sans
      strong Writer Names Puzzle
      br
      span Definitions

      .row
        .col-xs-12
          pre.
            Across:

            3. Orhan ...
            4. Haruki ...
            5. J.D. ...
            6. Isac ...
            8. N.V. ...
            9. Antoine de Saint-....
        .col-xs-12
          pre.
            Down:
            1. Gellu ...
            2. Milan ...
            4. Herman ...
            7. Arthur C. ....

+exercise({name: 'ex7splitter'})
  +split-in-syllables({
    name: 'split-in-syllables-1',
    separator: '·', // or any html code. Undefined or falsy for '-'
    word: 'sy||l^^l||a^^b||le',
  })
    .score-box
    .progress-box
    .is-done-box
    .preview
      | Your result, sir:
      span.result

+combine-syllables({
    words: ['zebra', 'jaguar', 'cobra', 'crocodile'],
    wordCount: 4,
    recall: true,
    name: 'help09-1',
    ignoreAvatar: false
  })
    .row
      .progress-box
      .is-done-box
      .score-box
    .row.items
      .col-xs-12
        .row
          .col-xs-3: .item(data-syl='ze') ze
          .col-xs-3: .item(data-syl='gu') gu
          .col-xs-3: .item(data-syl='co') co
          .col-xs-3: .item(data-syl='cro') cro
      .col-xs-12
        .row
          .col-xs-3: .item(data-syl='bra') bra
          .col-xs-3: .item(data-syl='ja') ja
          .col-xs-3: .item(data-syl='dile') dile
          .col-xs-3: .item(data-syl='ar') ar
    .row
      .col-sm-8
        .well.well-sm.dropspot
          button.btn.btn-default.pull-right.hidden-xs(data-target='combine-syllables.validate') Try
          span.hint Drop syllables here.
      .col-sm-4
        button.btn.btn-default.visible-xs(data-target='combine-syllables.validate') Try
        p.visible-xs Already found:
        .well.well-sm.wordwell
          .wordlist
          button.btn.btn-default(data-target='combine-syllables.clearlist') Clear list

br
br

