.classroom-client {
  padding: 0.5em;
  padding-left: 20px;
  font-size: 0.8em;
  color: #8ffabf;
}

.classroom-client .ring-bell {
  display: inline-block;
  color: #ecf0f1;
  float: right;
  margin-right: 1em;
}

.classroom-client .ring-bell:hover {
  opacity: 0.8;
}

.classroom-client .ring-bell:active {
  opacity: 0.5;
}

.classroom-client .away-label {
  display: none;
  color: #666;
}

.classroom-client .teacher-label {
  color: #666;
}

.classroom-client.classroom-client-offline {
  color: #666;
}

.classroom-client.classroom-client-away {
  color: #ecb689;
}

.classroom-client.classroom-client-away .away-label {
  display: inline-block;
}

.nearby-classrooms .sublabel.nearby-title {
  color: #eee;
  font-size: 1em;
  position: relative;
  width: 100%;
}

.nearby-classrooms .sublabel.nearby-title .nearby-reload {
  position: absolute;
  right: 0;
  bottom: 0.2em;
}

.nearby-classrooms .sublabel.nearby-title .nearby-reload:hover {
  opacity: 0.5;
}

.nearby-classrooms .nearby-classroom {
  position: relative;
}

.nearby-classrooms .nearby-classroom .backstage-button {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: auto;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
}

.nearby-classrooms .nearby-classroom .title {
  font-size: 0.8em;
}

.nearby-classrooms .nearby-classroom .subtitle {
  font-size: 0.6em;
  color: #ccc;
}

.classroom-info-tr {
  vertical-align: center;
}

.classroom-info-buttons {
  width: 45%;
}

.classroom-info-buttons .backstage-button {
  padding-left: 0.25em;
  white-space: nowrap;
  text-align: left;
}

.classroom-info {
  text-align: center;
}

.classroom-info .classroom-fullscreen-button {
  font-size: 0.8em;
  float: right;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.classroom-info:not(.classroom-info-fullscreen) {
  width: 55%;
}

.classroom-info:not(.classroom-info-fullscreen):hover {
  opacity: 0.5;
}

.classroom-info.classroom-info-fullscreen {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: hidden;
  -webkit-animation: classroom-info 0.3s;
  animation: classroom-info 0.3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  color: #ecf0f1;
}

.classroom-info.classroom-info-fullscreen .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.classroom-info.classroom-info-fullscreen .close-icon:hover {
  opacity: 0.5;
}

.classroom-info.classroom-info-fullscreen .classroom-info-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 10em;
}

@media (min-width: 991px) {
  .classroom-info.classroom-info-fullscreen .classroom-info-inner {
    font-size: 15em;
  }
}

.classroom-info.classroom-info-fullscreen .classroom-info-label {
  font-size: 0.3em;
  margin-bottom: 0.5em;
}

.classroom-info.classroom-info-fullscreen .classroom-info-big {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.classroom-info.classroom-info-fullscreen .classroom-info-small {
  font-size: 1em;
}

.classroom-info .classroom-info-big {
  font-size: 1.4em;
}

.classroom-info .classroom-info-small {
  font-size: 0.8em;
}

.classroom-clients-label {
  margin-bottom: 0;
}

.classroom-client .name-input {
  width: 50%;
  display: inline-block;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

html.navigation-locked #next-chapter,
html.navigation-locked #previous-chapter,
html.navigation-locked #leftbar-toggle {
  opacity: 0.2;
  pointer-events: none;
}

html:not(.classroom-teacher) .classroom-teacher-visible {
  display: none;
}

html.classroom-teacher .classroom-teacher-invisible {
  display: none;
}

.group-tabs .group-none {
  position: relative;
}

.group-tabs .group-none .placeholder {
  visibility: hidden;
}

.group-tabs .group-none i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.teacher-options {
  margin-bottom: 0.25em;
}

.teacher-panel .menu-item {
  position: absolute;
}

.teacher-panel .menu-item:active .teacher-panel-popover,
.teacher-panel .menu-item:hover .teacher-panel-popover {
  display: block;
}

.teacher-panel .menu-item .teacher-panel-popover {
  position: absolute;
  bottom: 3.5em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 7em;
  padding: 0.5em;
  background: #222;
  line-height: 0.7em;
  display: none;
}

.teacher-panel .menu-item .teacher-panel-popover span {
  font-size: 0.7em;
}

.teacher-panel .teacher-panel-locknav {
  left: 5em;
}

.teacher-panel .teacher-panel-locknav.active .teacher-panel-toggle-off {
  display: none;
}

.teacher-panel .teacher-panel-locknav:not(.active) .teacher-panel-toggle-on {
  display: none;
}

.teacher-panel .teacher-panel-scroll {
  left: 9em;
}

@media (max-width: 767px) {
  .teacher-panel .teacher-panel-locknav {
    left: 4em;
  }

  .teacher-panel .teacher-panel-scroll {
    left: 8em;
  }
}

#classroom-alert-panel {
  background-color: #e74c3c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  overflow: hidden;
  -webkit-animation: classroom-alert-panel-fade 4s;
  animation: classroom-alert-panel-fade 4s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes classroom-alert-panel-fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes classroom-alert-panel-fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes classroom-alert-panel-fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes classroom-info {
  0% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-ms-keyframes classroom-info {
  0% {
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  100% {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes classroom-info {
  0% {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}