+title('Sorting')
+subtitle('Sorting Exercises')
h1
  p Sorting Exercises
:markdown
  This is an exercise type which requires the user to sort some elements in a sequence according to requested criteria (alphabetical, size, age, number of letters, etc.). The sort is done either horizontally or vertically and is done by dragging and dropping the elements. The feedback is available immediately, except the cases where the authors decided to disable the feedback on purpose.

  Elements can be images, letters, words or text fragments.

  Try it for your&#115;elf here:

+exercise({name: 'help06-1'})
  .progress-box
  .score-box
  .is-done-box

  b Order the numbers from the lowest to the highest:
  +drag-and-sort({name: 'help06-1-1', scoreByRelativeOrder: true})

    span.item(data-index=50) 50
    span.item(data-index=40) 40
    span.item(data-index=30) 30
    span.item(data-index=20) 20
    span.item(data-index=10) 10
    .score-box

  .clearfix
  br
  b Sort the planets from nearest to furthest from the Sun:
  +drag-and-sort({name: 'help06-1-2'})
    ul.items
      li.item(data-index='7'): span Saturn
      li.item(data-index='2'): span Venus
      li.item(data-index='8'): span Uranus
      li.item(data-index='4'): span Mars
      li.item(data-index='9'): span Neptune
      li.item(data-index='3'): span Earth
      li.item(data-index='1'): span Mercury
