+title('Splitting Exercise')
.text
  :markdown
    # Split路ting Ex路er路cise

    This type of exercise is used in two forms: to split words in syllables or to place dividers in sentences.

    It shows a list of elements (e.g. syllables) and on top the separators are interleaved (e.g. ). Pressing (click or touch) a separator makes the separator to be placed or removed between nearby elements.

    The score is computed as a function of correctly placed separators vs. total number of separators. The wrong placements are subtracted from the score.

    Here are some examples:

  +exercise({name: 'ex7splitter'})
    +split-in-syllables({
      name: 'split-in-syllables-1',
      separator: '路', // or any html code. Undefined or falsy for '-'
      word: 'sy||l^^l||a^^b||le',
    })
      .score-box
      .progress-box
      .is-done-box
      .preview
        | Your result, mylord:
        span.result

    +split-in-syllables({
        name: 'split-in-syllables-2',
        separator: ',',
        word: 'Anna^^come|| outside^^ please!'
      })
      .is-done-box
      .score-box

    +split-in-syllables({
        name: 'split-in-syllables-3',
        separator: ',',
        word: 'I|| do not|| have|| time^^ Dan^^ I|| really|| do not.',
        isModal: true
      })
      .is-done-box
      .full-screen-header
        .is-done-box.inline-block
        span Place the commas
        span.small.result.sans
        .progress-box
      .preview
        .score-box
        | Your result, sir:
        span.result
