[submodule "plugins/lfa-classroom"]
	path = plugins/lfa-classroom
	url = git@github.com:learnfwd/lfa-addon-classroom.git
[submodule "plugins/lfa-backstage"]
	path = plugins/lfa-backstage
	url = git@github.com:learnfwd/lfa-addon-backstage.git
[submodule "plugins/lfa-exercises"]
	path = plugins/lfa-exercises
	url = git@github.com:learnfwd/lfa-addon-exercises.git
[submodule "plugins/lfa-content-widgets"]
	path = plugins/lfa-content-widgets
	url = git@github.com:learnfwd/lfa-content-widgets.git
