+title('Long story')
+subtitle('More detailed information')
:markdown
  # Introduction

  ## What is this

  This is a document explaining what *Learn Forward* is, what are its main features, how it can be used and what are possible next steps after you understand all of this.

  The document itself is produced using only LFA technologies. We're eating our own food here :)

  Chapters one two and three are for users. Chapter 4 presents the tool, the concepts behnind it and how you can get to make your own textbook.

+minitoc()