+title('4. Editor\'s Guide')
+subtitle('Understanding the tools. Creating content')
h1 
  p Editor's Guide

p This section is written for content editors that want to use the tools to create their own digital textbooks. There are tools and libraries that allow anybody to do that. Please note that some of the features (such as the exercises, the backstage and the classroom are not part of the free open source edition of Learn Forward). Please [get in touch](mailto:hello@readfwd.com) for more info about licensing and how to get these extra features in your textbooks.

+minitoc
