+title("How to use this textbook")
h1
  p How to use the textbook

:markdown
  ## Launching it

  If you're here it means you opened the textbook and also you've managed to learn how to navigate it. No need to teach you how to open the textbook, because you already did it. It is however useful to read this because there are maybe details you don't know. Or you can use the text to teach others how to do it.

  This textbook does not need installation. Make sure that you have an updated (and modern) browser. A browser is a computer program (or mobile app), such as Google Chrome, Mozilla Firefox, Apple Safari or Microsoft Intenet Explorer 11 and above.

  Visit http://www.whatbrowser.org/ to see if you have the latest version. Newer browsers save you time, keep you safer, and let you do more online.


  If you got the textbook on a stick (or a DVD), open the CD folder and double click on the `index.html` file.

  There are some rare cases where the file does not open, usually because of software configuration on the computer. Start your browser and then `File` menu then `Open file...`. Find the same `index.html` and open it.

  You should now see the textbook cover.

  Another way to access the the content is directly over the Internet. Instead of CD or USB drives, you might have received an Internet address (called URL), such as http://.... Visit this address with your favorite browser to access the textbook.

  One more thing: some browsers offer a private browsing feature (*Private Mode*, *Incognito Window* etc.). In this mode the textbook is fine, but incomplete, because it is not allowed to save the results for the exercises or other activities.


  ## Screen structure and navigation

  There are four buttons on the screen -- actually there are three buttons and an animated character (we call it *the avatar*). Let's start with it.

  **The avatar** (top-right) gives visual feedback when exercises are done correctly or when the student experiences difficulties. A click on the avatar opens a "backstage" area, where students and teachers see the latest notifications, change settings or can create and join classrooms (in *Classroom* and *Campus* editions).


  **Table of contents** (top-left) is a button that, when pressed, shows the content hierarchy of the textbook. Content can be structured multi-level and the first two levels are shown here. A chapter can have more lessons and a click (or a tap) on a chapter opens the lesson list. Click outside the table of contents to close it.


  **Navigation** -- previous / next lesson (bottom-left, bottom-right)

  Paper textbooks have the constraint of the page size to organize information, while digital ones don't have such a constraint. What you read now is such an example. The concept of a "page" has disappeared, being replaced by a "lesson" that goes down as long as it needs to.

  Making the classical page disappear as a concept and replacing it with a page that can be arbitrarily long for each concept is an important decision that makes the navigation more consistent and allows related ideas to be kept close. Moreover, because there is a variety of screen sizes and width/height ratios, it is impossible to find a common page format. The content of each lesson dynamically repaginates in the browser lesson's page.

  In classroom mode, teachers can enable and disable the student's navigation. They can also bring everybody to the same lesson or scroll the page for them.
