+title('5.Widgets')
+subtitle('Content widgets')
h1
  p Content widgets
:markdown
  The free and opensoure `lfa-content-widgets` package contains several mixins that can make your textbooks look spectacular.
  
  
+minitoc
