+article("5.Widgets", "Content widgets")
  +section
    
    :markdown
      # Content widgets
      
      The free and opensoure `lfa-content-widgets` package contains several mixins that can make your textbooks look spectacular.
      
  
  +minitoc
