+title('UI Effects')


:markdown
  #Parallax Effect
  
  While reading the lfa backends, I found that the `+parallax(path)` was already implemented in the `LFA` core, but for the sake of consistency, I transffered it here and wrote this page.
  
+parallax('http://placekitten.com/g/1200/1200')
  h1 Hello Kitty!
  

:markdown
   To use it you have to call `+parallax(path)` add the path.
   
   ```
   +parallax('/path/to/local/or/online/image/')
   ```
