+title("6.Next steps")
+subtitle("What to do next")
:markdown
  # Next steps

  You're now familiar with what *Learn Forward* is, how to use the textbooks, and how to use the tools.

  Think of an educational project that you want do. Write us a short brief about your project at hello@readfwd.com and we'll come back with ideas and support about how our tools can be used to help you in this endeavor.

  Or head back to the [official product page](http://learnfwd.com) to read more information and subscribe to updates.

p Kind regards,
  br
  img(src='img/logo-readfwd.png').no-strech
