+title('Cover')
#cover-image
  img(src='img/demo--textbook.jpg')

//- center
//-   img(src='img/logo-learnfwd.png', alt='Learn Forward').percent-30
//-   h1.book-title Demo Textbook
  
//-   #name-input
//-   #student-list

//-   .name-label
//-     h3 This copy belongs to:
//-     #cover-name-input
//-     span.instructions (type above to change your name)

//-   .contact Contact us at: 
//-     a(href="mailto:hello@learnfwd.com") hello@learnfwd.com
//-     span | 
//-     a(href="http://learnfwd.com", target="_blank") learnfwd.com

//-   span (Use the navigation buttons to go to the next page)

//-   br

//-   .row
//-     .col-md-4.hidden-xs
//-     .col-md-4.col-xs-12
//-       a(href='http://demo.learnfwd.com') demo.lfwd.io
