+article('Cover')
  +section('Cover')
    center
      img(src='img/logo-learnfwd.png', alt='Learn Forward').percent-50
      h1.book-title Demo Textbook

      .name-label
        h3 This copy belongs to:
        input.cover-name-input(placeholder="Your name",title="Fill in yoour name, please")
        span.instructions (type above to change your name)

        p (Use the navigation buttons to go to the next page)

        .row
          .col-md-4.hidden-xs
          .col-md-4.col-xs-12
            +lightbox('img/qrcode.png')
            br
            a(href='http://demo.learnfwd.com') demo.learnfwd.com
