+title('Cover')

+img('img/demo--textbook.jpg')


center(style="background-color:#363636; color: #fff; font-family: Arial,Sans-Serif")
 br

#cover-image
 center
   .contact Contact us at:&nbsp;
     br/
     a(href="mailto:hello@learnfwd.com") hello@learnfwd.com
     span &nbsp; | &nbsp;
     a(href="http://learnfwd.com", target="_blank") learnfwd.com

   #name-input
   #student-list

   .name-label
     h3
      | Enter your name below
     #cover-name-input
     span.instructions (type above to change your name)

center(style="background-color:#363636; color: #fff; font-family: Arial,Sans-Serif")
 br
 small (Use the navigation buttons to go to the next page)
 br
 small
   a(href='http://demo.learnfwd.com', style='color: #fff;') demo.lfwd.io
