+title('Hints and irritation')
h1
  p Hints and irritation
:markdown
  ```
    +exercise
      .score-box
      +pickone(9, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {
        name: 'irritation-sample',
        irritationLevel: 5,
        hints: {
          3: 'Slowly go to number 9',
          6: 'On your way, yey'
        },
        firstTimeDoneMessage: 'Good one, number 9!',
        doneMessage: '9 again!'

        })
        p Try each option and watch the avatar
  ```

+exercise
  .score-box
  +pickone(9, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {
    name: 'irritation-sample',
    irritationLevel: 5,
    hints: {
      3: 'Slowly go to number 9',
      6: 'On your way, yey'
    },
    firstTimeDoneMessage: 'Good one, number 9!',
    doneMessage: '9 again!'

    })
    p Try each option and watch the avatar

script.
