+title('Advanced Features for Exercises')
h1.long-header 
  p Advanced Features for 
    br 
    | Exercises
:markdown
  This chapter presents advanced usage and development information for the exercise module.

+minitoc
