+article("3. Classrooms", "Textbooks talk to each other")
  +section("Intro")
    :markdown
      # Learn Forward - Classrooms

    .bordered
      +lightbox('img/saturn2.jpg')

    :markdown
      What you were able to see until now, the self-paginating context, the auto-saving & self-correcting exercises etc. is above any digital textbook until now. But this is just the beginning.

      It is a spectacular textbook, but it is still just you and the book. Like always.

      Now comes the fun part: this textbook (and all the others built with *Learn Forward*) have a built-in communication module that lets you create or join a classroom where a teacher and any number of students can join and learn together.


      Go on and be a teacher!

      1. Click on the avatar (the little cat in the top corner), and then click on *Create Classroom*. If your browser supports geolocation it will pop up a small confirmation bar requesting you to approve that the textbook reads your position on the map. Click on "approve"; it will help you a little bit later. You'll be given a short 'classroom code' that uniquely identifies your class. You can now also change your name (the default one is like *Student H3Nj1*).

      2. Then on another computer, or tablet or phone open the browser and navigate to: **[demo.learnfwd.com](http://demo.learnfwd.com/)**.

    .row
      .col-md-4.hidden-xs
      .col-md-4.col-xs-12
        +lightbox('img/qrcode.png')

    :markdown
      3. After the textbook loads on this device, click on the avatar on it and select a classroom nearby (the one you've just created should be the first in the list, since it is of curse the closest). If no nearby classes are shown it means that you did not approve to be located or your browser does not support the feature. No problem, just write the code and click *Join class*.

      4. On the device you'll see the teacher's name. And on the teacher's screen you'll see the student's name.


      Close the sidebars by clicking outside them and then click on *Navigation lock* (or *Synchronized Navigation*).

      Let's go to the next page to see what this feature is all about.
