+title('Syncrhonized Navigation')
+subtitle('Keeping everybody on the same page')
:markdown
  # Syncrhonized Navigation

.aside-box.percent-50.pull-right
  quote  One of the great features teachers had always wanted is being able to direct students a specific page or a specific piece of content. They can now do this.

:markdown
  When joining a classroom, the pupils give up a part of their freedom in the texbook. This means that teacher can control the navigation, the position inside the page, or is able to see what they answer to specific questions.

  By default, navigation is not restricted in any way. The teacher may chose to lock the navigation. When the navigation is locked each page change on the teacher's browser is immediately transmited to every student in the classroom and the student is automatically moved to that page, without any intervention from their side. Also, navigation buttons and table of contents are disabled while the teacher has the classroom locked.

  ## Scroll to position

  A unique feature of the context-aware textbooks is that when a teacher wants to show a specific figure or to direct the kids to an exercise, or wherever on the page, she can do that with the press of a button. That is *Scroll to position* feature of the Learn Forward Classroom.

  As a teacher scroll anywhere on the screen then press the *Scroll to position* button and watch the others 


  **Test scroll to position now, on this page** (we made this page especially long so that you have where to scroll)

- for (var i = 1; i < 15; ++i) {
-   var color = "background-color: rgba(" + (182 + Math.floor(64 * Math.random())) + ", " + (192 + Math.floor(64 * Math.random())) + ", " + (192 + Math.floor(64 * Math.random())) + ", 1)";
  .aside-box(style=color)
    h3 Item  #{i}

    p Lorem ipsum Qui cillum nulla reprehenderit esse amet est aliqua cupidatat eu ex aliquip dolor esse consectetur labore et culpa eiusmod occaecat.
  br
- }

.bordered
  +lightbox('img/saturn1.jpg')