+title('Classroom Control')
+subtitle('Keeping things under control')
h1
  p.hidden-sm Classroom Control
  p.visible-sm Classroom 
    br 
    | Control
:markdown
  When talking to teachers one of their greatest concerns was how to keep students under control while each one of them has a tablet or a computer in their hands.

.bordered.pull-right.percent-50.margin-for-right
  +lightbox('img/classroom.jpg')

:markdown
  The most obvious solution that people think about involves powerful restrictions: the tablet must be locked, the internet should be disabled, etc.

  Restrictions are very bad for people's morale. Therefore we decided to look at the problem from a different angle: instead of restricting the students, we let the teacher know when somebody is not participating (i.e. the browser window is out of focus).

  At any time, the teacher can send an alert to the student. The student's screen becomes red and a sound is played on the device.

  ## Try it now

  1. Click on the avatar and then look at the students enrolled in the classroom
  2. Click on the bell icon near the student you want to poke
  3. Watch the students screen turning red (and how the color is reflected on his face)