+article("The tool")
  +section("The tool")
    :markdown
      # LFA Tool

      *Learn Forward Author*, for short *LFA*,  is a tool (at this moment command line only) that is used to produce context-aware textbooks like this one. The way it works is simple: it takes some files that the editor writes (called the *source files*) and assembles them into a bigger and nicer output, the context-aware textbook. It is more than a transformation process.