+article("The tool")
  +section("The tool")
    :markdown
      # LFA Tool

      *Learn Forward Author*, for short *LFA*,  is a tool (at this moment command line only) that is used to produce context-aware textbooks like this one. The way it works is simple: it takes some files that the editor writes (called the *source files*) and assembles them into a bigger and nicer output, the context-aware textbook. It is more than a transformation process.

      
      Installation
      ------------

      Make sure you have [node.js](http://nodejs.org/) installed, then run:

      ```bash
      $ npm install -g lfa
      ```

      If you get permission issues you most likely have a dodgy node installation. You can probably circumvent it temporarily with `sudo -H npm install -g lfa`.

      Usage
      -----

      LFA is a command line tool. For the basic help, run:

      ```bash
      $ lfa
      ```

      Quick start guide
      -----------------

      Let's create a new project:

      ```bash
      $ lfa new my-first-book
      $ cd my-first-book
      ```

      Your project structure should look something like this:

      ```bash
      $ tree
      .
      |-- config.yml
      |-- css
      |   `-- master.styl
      |-- img
      |   `-- kitten.jpg
      `-- text
          |-- ch01
          |   |-- 00.jade
          |   |-- 01.jade
          |   `-- 02.jade
          `-- ch02.jade
      ```

      `config.yml` is the main configuration file. This is where you set up project settings like the title or language of the book

      The [Jade](http://jade-lang.com) files in `text/` make up for the book's chapters. The table of contents is generated automatically based on the folder hierarchy.
      For CSS, we use [Stylus](http://learnboost.github.io/stylus/). You should include whatever styles you have in `css/master.styl` or in `@import`-ed stylus or CSS files.
      Any other assets can be placed in any other subdirectory of the project

      Let's start editing our new project. Before we do that, we start the watcher:

      ```bash
      $ lfa watch
      ```

      By now, a browser tab should have popped up for you. You can now start editing files with your [favorite text editor](http://en.wikipedia.org/wiki/Editor_war) and, as soon as you save, the watcher will reload the page for you.

      We built in some useful mixins and libraries (like [Bootstrap](http://getbootstrap.com/2.3.2/), [FontAwesome](http://fortawesome.github.io/Font-Awesome/), [modernizr](http://modernizr.com/), etc.) for you. For example, let's put up 2 kittens side-by-side in jade:

      ```jade
      .row
        .col-sm-6
          +img('img/kitten.jpg')
        .col-sm-6
          +img('img/kitten.jpg')
      ```

      The end result:

    +img("img/first_proj.png")
