.split-in-syllables-1
.split-in-syllables-2
.split-in-syllables-3
.ex7splitter
  .split-in-syllables-letter, 
  .split-in-syllables-separator
    @media (max-width 650px)
      padding  .5em !important
      margin-left 0
      margin-right 0
      font-size 4.3vw
#ex_216588758
  margin-left 0 !important
  margin-right 0 !important

.sortScoreSampleExercise-1 
.sortScoreSampleExercise-2
.sortSampleExercise-3
  .item
    display inline-block
    padding .5em 1em
    margin 0 .5em
    border 2px solid #999
    border-radius 10px
    @media(max-width 540px)
      text-align center
      display block
      float: none
      width 50%
      margin .25em auto
.ch04-highlighters-e10
  .item
    padding 0 .5em  
    display inline-block 
.arab-to-roman 
.help10-1  
  .choice
    text-align center
    background-color rgb(30, 107, 186)
    border-radius 5px
    padding-top .2em
    padding-bottom .2em 
    margin 5px auto
    color white
    &:hover
      background-color rgba(30, 107, 186,.8)
      cursor move
.planets-to-labels
  .planet-label
    padding-top .25em
    width 100%
  .col-xs-3
    padding-left 5px
    padding-right 5px
  .col-xs-2
    text-align center
    padding-left 0
    padding-right 0
    border .2em solid rgb(30, 107, 186)
    border-radius 10px
    // width 95%
    display inline-block
    @media (max-width 768px)
      // padding-left .2em
      // padding-right .2em
      margin-top 10px
      margin-left 2.5%
      margin-right 2.5%
      width 45%
      display block

.advanced-example
  margin 0 !important
.txt-align-center h2
  @media(max-width 768px)
    text-align center

.textline input.input-box
.ch06_ex7 textarea.input-box
  width 100%

/*drag-and-sort exercises      <== lfa change
  display inline-block
  @media(max-width 540px)
    display block
    float: none

*/  

.well
  .calcuwords-grid .calcuwords-block
    height initial !important
//     height auto !important
#ex_2100003403
  width inherit
  // p.trigger
//   margin auto !important
img[src='img/first_proj.png']
  margin 0 !important
#ex_1299893610
#ex_1333225706 
  .panel-body
    padding-left 0 !important
    padding-right 0 !important
#ex_776946074
#ex_1793039016
  .items
    margin-bottom .5em
#ex_891617588
#ex_150994443
  .progress-box
    margin-bottom .5em
#ex_1191731515
  .col-xs-4
    padding 0 .5em
.table-div
  display table
  .progress-box
    margin-bottom 1em
  .calcugrid
    text-align center
  @media (max-width 768px)
    display block
  .table-row
    display table-row
    @media (max-width 768px)
      display table
      width 100%
      // margin-bottom .5em !important
    .table-cell
      width 50%
      display table-cell
      margin .5em 0 0 0 !important
      
      @media (max-width 768px)
        display block
        width 100%
        
.three-d canvas
  border 2px dashed white

pre.stars
  margin 1em 0

.combine-syllables .col-xs-4
  padding .5em   