#tlyPageGuideWrapper
  font-family Helvetica,Arial,sans-serif
  font-size 12px
  color #000
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  #tlyPageGuideToggles
    position fixed
    top 184px
    right 0
    z-index 9999
    display block
  .tlypageguide_toggle
    position relative
    right -185px
    display block
    float right
    width 184px
    height 50px
    padding 22px 6px 6px
    margin-bottom 20px
    clear both
    font-size 11px
    line-height 25px
    color #000
    text-align left
    text-decoration none
    cursor pointer
    background rgba(0,0,0,0.1)
    -webkit-border-radius 3px 0 0 3px
    -moz-border-radius 3px 0 0 3px
    -o-border-radius 3px 0 0 3px
    border-radius 3px 0 0 3px
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    -webkit-transition all .2s ease-in
    -moz-transition all .2s ease-in
    -ms-transition all .2s ease-in
    -o-transition all .2s ease-in
    transition all .2s ease-in
    &:before
      position absolute
      top 8px
      left 25px
      display block
      width 16px
      height 16px
      overflow hidden
      text-indent -999px
      background transparent url('img/tlyguide_icon.png')
      content ' '
    div
      position absolute
      top 6px
      right -4px
      display block
      width 124px
      height 33px
      padding 2px 0 0 5px
      overflow hidden
      line-height 16px
      border-left 1px solid #fff
      -webkit-box-sizing border-box
      -moz-box-sizing border-box
      box-sizing border-box
      span
        display block
        width 115px
        margin 0 0 0 -118px
        -webkit-transition all .2s ease-in
        -moz-transition all .2s ease-in
        -ms-transition all .2s ease-in
        -o-transition all .2s ease-in
        transition all .2s ease-in
    a
      position absolute
      right 10px
      bottom -26px
      color #000
      text-decoration none
      opacity 0
    &:hover
      right 0!important
      background rgba(0,0,0,0.2)
      div
        span
          margin 0
  #tlyPageGuideMessages
    position fixed
    bottom 0
    z-index 1000
    display none
    width 90%
    height 0
    padding 10px
    margin 0 5% 0 5%
    overflow-y auto
    font-size 16px
    background rgba(0,0,0,0.85)
    -webkit-border-radius 3px 3px 0 0
    -moz-border-radius 3px 3px 0 0
    -o-border-radius 3px 3px 0 0
    border-radius 3px 3px 0 0
    -webkit-box-shadow 0 0 9px 4px rgba(0,0,0,0.4)
    -moz-box-shadow 0 0 9px 4px rgba(0,0,0,0.4)
    -o-box-shadow 0 0 9px 4px rgba(0,0,0,0.4)
    box-shadow 0 0 9px 4px rgba(0,0,0,0.4)
    span
      position absolute
      top 25px
      left 40px
      display block
      width 50px
      height 46px
      overflow hidden
      font-size 32px
      line-height 50px
      color #fff
      text-align center
      background rgba(247,0,119,0.95)
      -webkit-border-radius 3px
      -moz-border-radius 3px
      -o-border-radius 3px
      border-radius 3px
    .tlypageguide_text
      position relative
      margin 10px 90px 0 120px
      line-height 22px
      color #fff
      a
        color #fff
        &:hover
          color #fff
    .tlypageguide_close
      position absolute
      top 0
      right 50px
      display block
      width 50px
      height 24px
      overflow hidden
      font-size 11px
      line-height 26px
      color #fff
      text-align center
      text-decoration none
      background #f70077
      -webkit-border-radius 0 0 3px 3px
      -moz-border-radius 0 0 3px 3px
      -o-border-radius 0 0 3px 3px
      border-radius 0 0 3px 3px
    .tlypageguide_back
      -webkit-transform rotate(-180deg) scale(1) skewX(0) skewY(0) translate(0)
      -moz-transform rotate(-180deg) scale(1) skewX(0) skewY(0) translate(0)
      -ms-transform rotate(-180deg) scale(1) skewX(0) skewY(0) translate(0)
      -o-transform rotate(-180deg) scale(1) skewX(0) skewY(0) translate(0)
      transform rotate(-180deg) scale(1) skewX(0) skewY(0) translate(0)
      
    .tlypageguide_fwd
      margin-left 90px
      margin-top 5px
    .tlypageguide_back
      margin-top -4px
      margin-left -10px
  #tlyPageGuideContent
    display none

#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_back,#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_fwd
  position absolute
  top 34px
  left 10px
  display block
  width 30px
  height 30px
  overflow hidden
  text-indent -999px
  background-image url('img/tlyguide_arrow.png')
  background-repeat no-repeat

.tlypageguide-open
  #tlyPageGuideWrapper
    .tlypageguide_toggle
      &.tlyPageGuideToggleActive
        right 0!important
        color #fff
        background rgba(247,0,119,0.9)
        -webkit-box-shadow 6px 4px 5px 0 rgba(0,0,0,0.4)
        -moz-box-shadow 6px 4px 5px 0 rgba(0,0,0,0.4)
        -o-box-shadow 6px 4px 5px 0 rgba(0,0,0,0.4)
        box-shadow 6px 4px 5px 0 rgba(0,0,0,0.4)
        a
          opacity 1.0
        div
          span
            margin 0
    #tlyPageGuideContent
      display block

.tlyPageGuideWelcome,#tlyPageGuideWelcome
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index 9999
  display none
  width 95%
  height 300px
  max-width 400px
  max-height 80%
  padding 15px 20px
  margin auto
  font-size 16px
  line-height 22px
  color #fff
  background rgba(0,0,0,0.85)
  -webkit-border-radius 10px
  -moz-border-radius 10px
  -o-border-radius 10px
  border-radius 10px
  -khtml-opacity 0
  -moz-opacity 0
  opacity 0


.tlyPageGuideWelcome.open,#tlyPageGuideWelcome.open
  -khtml-opacity .95
  -moz-opacity .95
  opacity .95


.tlyPageGuideWelcome button,#tlyPageGuideWelcome button
  padding 5px 10px
  overflow hidden
  font-family Helvetica,Arial,sans-serif
  font-size 22px
  color #fff
  text-align center
  cursor pointer
  background rgba(247,0,119,0.95)
  border 0
  -webkit-border-radius 3px
  -moz-border-radius 3px
  -o-border-radius 3px
  border-radius 3px

#tlyPageGuideOverlay
  position fixed
  top 0
  left 0
  z-index 9998
  display none
  width 100%
  height 100%
  background #fff
  -khtml-opacity 0
  -moz-opacity 0
  opacity 0


.tlyPageGuideWelcomeOpen .tlyPageGuideWelcome,.tlyPageGuideWelcomeOpen #tlyPageGuideWelcome
  display block
  -khtml-opacity .95
  -moz-opacity .95
  opacity .95


.tlyPageGuideWelcomeOpen
  #tlyPageGuideOverlay
    display block
    -khtml-opacity .7
    -moz-opacity .7
    opacity .7


#tlyPageGuide
  display none

.tlypageguide_shadow
  position absolute
  display none
  pointer-events none
  background-color rgba(247,0,119,0.1)
  -webkit-box-shadow 0 0 1px 1px rgba(147,0,119,0.25)
  -moz-box-shadow 0 0 1px 1px rgba(147,0,119,0.25)
  -o-box-shadow 0 0 1px 1px rgba(147,0,119,0.25)
  box-shadow 0 0 1px 1px rgba(147,0,119,0.25)

.tlyPageGuideStepIndex
  position absolute
  z-index 50000
  display block
  width 50px
  height 46px
  max-height 46px
  min-height 15px
  font-size 32px
  line-height 50px
  color #fff
  text-align center
  text-decoration none
  pointer-events all
  cursor pointer
  background rgba(247,0,119,0.3)
  -khtml-opacity 1
  -moz-opacity 1
  opacity 1
 
  &:after
    position absolute
    top -15px
    top auto
    right auto
    left 0
    left auto
    display block
    width 0
    height 0
    border-top 0
    border-right 0
    border-bottom 0
    border-left none
    content ' '
  &.tlypageguide_bottom
    bottom -65px
    &:after
      top -15px
      left 0
      border-right 15px solid transparent
      border-bottom 15px solid rgba(247,0,119,0.3)
  &.tlypageguide_right
    right -65px
    &:after
      top 0
      left -15px
      border-top 15px solid rgba(247,0,119,0.3)
      border-left 15px solid transparent
  &.tlypageguide_left
    left -65px
    &:after
      top 0
      right -15px
      border-top 15px solid rgba(247,0,119,0.3)
      border-right 15px solid transparent
  &.tlypageguide_top
    top -60px
    &:after
      bottom -15px
      left 0
      border-top 15px solid rgba(247,0,119,0.3)
      border-right 15px solid transparent
  &:hover
    background rgba(247,0,119,0.95)
    &.tlypageguide_bottom
      &:after
        border-bottom 15px solid rgba(247,0,119,0.95)

.tlyPageGuideStepIndex:hover.tlypageguide_right:after,.tlyPageGuideStepIndex:hover.tlypageguide_left:after,.tlyPageGuideStepIndex:hover.tlypageguide_top:after
  border-top 15px solid rgba(247,0,119,0.95)

.tlypageguide-active
  .tlyPageGuideStepIndex
    background rgba(247,0,119,0.95)
    &.tlypageguide_bottom
      &:after
        border-bottom 15px solid rgba(247,0,119,0.95)

.tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_right:after,.tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_left:after,.tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_top:after
  border-top 15px solid rgba(247,0,119,0.95)

// .tlypageguide_toggle
//   background-color white !important