+title('Contact us')
.row.vcenter
  .col-sm-4
    img.img-responsive(src='img/logo-learnfwd.png', alt='Learn Forward')
    //- h1.book-title Contact us
  .col-sm-8
    h2 Contact us at: 
      a(href="mailto:hello@learnfwd.com") hello@learnfwd.com
    h2 Or visit our website:  
      a(href="http://learnfwd.com", target="_blank") learnfwd.com
